NODE_ENV=development
PORT=8080
API_PREFIX=/api/v1
CORS_ORIGIN=http://localhost:3000
FIREBASE_PROJECT_ID=foliofollow-dev
FIREBASE_STORAGE_BUCKET=
FIREBASE_SERVICE_ACCOUNT_KEY=
USE_FIREBASE_EMULATORS=true
FIRESTORE_EMULATOR_HOST=127.0.0.1:8080
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
